@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

p.info {
    padding-left: 0.75rem;
}

p.info::before {
    content: '- ';
}

p.info:last-child {
    padding-bottom: 1rem;
}

div.sub p.info {
    padding-left: 2rem;
}
